<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rana Store | Ecommerce Website Design </title>
    <link rel="stylesheet" href="/css/site.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,600&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>

<body>
<!--Header-->
    
<!--Featured catogrey-->

<div class="catogrey">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <img src="images/Cat 1.png" alt="">
            </div>
            <div class="col-3">
                <img src="images/Cat 2.png" alt="">
            </div>
            <div class="col-3">
                <img src="Images/Cat 6.png" alt="" height="464px">
            </div>
        </div>
    </div>
    </div>
<!--Featured product-->
   <div class="small-container">
       <h2 class="title">Featured Product  </h2>
       <div class="row">
           <div class="col-4">
            <img src="images/product_1.png" >
            <h4>Royal blue T-Shirt</h4>
            <p>$25.00</p>
            <div class="rating">
                <i class="fa fa-star" style="color: #ff523b;"></i>
                <i class="fa fa-star" style="color: #ff523b;"></i>
                <i class="fa fa-star" style="color: #ff523b;"></i>
                <i class="fa fa-star" style="color: #ff523b;"></i>
                <i class="fa fa-star" style="color: #ff523b;"></i>
            </div>
           </div>
           <div class="col-4">
            <img src="images/Product_2.png" >
            <h4>Yellow Cotton T-shirt</h4>
            <p>$18.45</p>
            <div class="rating">
                <i class="fa fa-star" style="color: #ff523b;"></i>
                <i class="fa fa-star" style="color: #ff523b;"></i>
                <i class="fa fa-star" style="color: #ff523b;" ></i>
                <i class="fa fa-star" style="color: #ff523b;"></i>
                <i class="fa fa-star-half-o" style="color: #ff523b;"></i>
            </div>
           </div>
           <div class="col-4">
            <img src="images/trouser.png" >
            <h4>Men Trouser</h4>
            <p>$20.00</p>
            <div class="rating">
                <i class="fa fa-star" style="color: #ff523b;"></i>
                <i class="fa fa-star" style="color: #ff523b;" ></i>
                <i class="fa fa-star" style="color: #ff523b;"></i>
                <i class="fa fa-star" style="color: #ff523b;"></i>
                <i class="fa fa-star-half-o" style="color: #ff523b;"></i>
            </div>
           </div>
           <div class="col-4">
            <img src="images/shoes.png" >
            <h4>shoes</h4>
            <p>$22.50</p>
            <div class="rating">
                <i class="fa fa-star" style="color: #ff523b;"></i>
                <i class="fa fa-star" style="color: #ff523b;" ></i>
                <i class="fa fa-star" style="color: #ff523b;" ></i>
                <i class="fa fa-star" style="color: #ff523b;"></i>
                <i class="fa fa-star-o" style="color: #ff523b;"></i>
            </div>
           </div>
       </div>
        <!--Latest product-->
       <h2 class="title">Latest Product  </h2>
       <div class="row">
        <div class="col-4">
         <img src="images/product_4.png" >
         <h4>Men T-Shirt</h4>
         <p>$25.00</p>
         <div class="rating">
             <i class="fa fa-star" style="color: #ff523b;"></i>
             <i class="fa fa-star" style="color: #ff523b;"></i>
             <i class="fa fa-star" style="color: #ff523b;"></i>
             <i class="fa fa-star" style="color: #ff523b;"></i>
             <i class="fa fa-star" style="color: #ff523b;"></i>
         </div>
        </div>
        <div class="col-4">
         <img src="images/product_3.png" >
         <h4>Cotton polo T-shirt</h4>
         <p>$18.45</p>
         <div class="rating">
             <i class="fa fa-star" style="color: #ff523b;"></i>
             <i class="fa fa-star" style="color: #ff523b;"></i>
             <i class="fa fa-star" style="color: #ff523b;" ></i>
             <i class="fa fa-star" style="color: #ff523b;"></i>
             <i class="fa fa-star-half-o" style="color: #ff523b;"></i>
         </div>
        </div>
        <div class="col-4">
         <img src="images/trouser_1.png" >
         <h4>Men Trouser</h4>
         <p>$20.00</p>
         <div class="rating">
             <i class="fa fa-star" style="color: #ff523b;"></i>
             <i class="fa fa-star" style="color: #ff523b;" ></i>
             <i class="fa fa-star" style="color: #ff523b;"></i>
             <i class="fa fa-star" style="color: #ff523b;"></i>
             <i class="fa fa-star-half-o" style="color: #ff523b;"></i>
         </div>
        </div>
        <div class="col-4">
         <img src="images/shoes_1.png" >
         <h4>shoes</h4>
         <p>$25.50</p>
         <div class="rating">
             <i class="fa fa-star" style="color: #ff523b;"></i>
             <i class="fa fa-star" style="color: #ff523b;" ></i>
             <i class="fa fa-star" style="color: #ff523b;" ></i>
             <i class="fa fa-star" style="color: #ff523b;"></i>
             <i class="fa fa-star-o" style="color: #ff523b;"></i>
         </div>
        </div>
        <div class="row">
            <div class="col-4">
             <img src="images/product_5.png" >
             <h4>Men T-Shirt</h4>
             <p>$25.00</p>
             <div class="rating">
                 <i class="fa fa-star" style="color: #ff523b;"></i>
                 <i class="fa fa-star" style="color: #ff523b;"></i>
                 <i class="fa fa-star" style="color: #ff523b;"></i>
                 <i class="fa fa-star" style="color: #ff523b;"></i>
                 <i class="fa fa-star" style="color: #ff523b;"></i>
             </div>
            </div>
            <div class="col-4">
             <img src="images/product_6.png" >
             <h4>Sleeveless</h4>
             <p>$10.45</p>
             <div class="rating">
                 <i class="fa fa-star" style="color: #ff523b;"></i>
                 <i class="fa fa-star" style="color: #ff523b;"></i>
                 <i class="fa fa-star" style="color: #ff523b;" ></i>
                 <i class="fa fa-star" style="color: #ff523b;"></i>
                 <i class="fa fa-star-half-o" style="color: #ff523b;"></i>
             </div>
            </div>
            <div class="col-4">
             <img src="images/trouser_2.png" >
             <h4>Men Trouser</h4>
             <p>$20.00</p>
             <div class="rating">
                 <i class="fa fa-star" style="color: #ff523b;"></i>
                 <i class="fa fa-star" style="color: #ff523b;" ></i>
                 <i class="fa fa-star" style="color: #ff523b;"></i>
                 <i class="fa fa-star" style="color: #ff523b;"></i>
                 <i class="fa fa-star-half-o" style="color: #ff523b;"></i>
             </div>
            </div>
            <div class="col-4">
             <img src="images/shoes_2.png" >
             <h4>shoes</h4>
             <p>$30.50</p>
             <div class="rating">
                 <i class="fa fa-star" style="color: #ff523b;"></i>
                 <i class="fa fa-star" style="color: #ff523b;" ></i>
                 <i class="fa fa-star" style="color: #ff523b;" ></i>
                 <i class="fa fa-star" style="color: #ff523b;"></i>
                 <i class="fa fa-star-o" style="color: #ff523b;"></i>
             </div>
            </div>
    </div> 
   </div>
    
</div>
<!--offer-->
   <div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="images/Watch-.png" class="offer-img">
            </div>
            <div class="col-2">
                <h1 style="color:#ff523b ;">Casio Digital Sports Watch</h1>
                <small>The Casio sports digital watches are popular among men's, 
                    ladies & youth in Pakistan. The digital quartz watches come with water resistance,
                     world time, stopwatch, light, digital timer & alarm.</small> <br>  
                     <a href="" class="btn">Buy Now &#8594;</a>
            </div>
            
        </div>
    </div>
</div>
<!--/*---testimonila---*/-->
<h2 class="title" style="padding-top: 30px;"> Reviews</h2>

<div class="testimonial">
    <div class="small-container">
        <div class="row"> 
                <div class="col-3">
                    <i class="fa fa-quote-left" ></i>
                    
                    <p> I completely love this site, found it on EBay at first now I just order directly through them...
                        I am always complemented on my outfits I will be back for more...
                        Thank you for having cute trendy clothes that fit and look good.</p>
                    <i class="fa fa-quote-right" ></i>
                        <div class="rating">
                            <i class="fa fa-star" style="color: #ff523b;"></i>
                            <i class="fa fa-star" style="color: #ff523b;"></i>
                            <i class="fa fa-star" style="color: #ff523b;"></i>
                            <i class="fa fa-star" style="color: #ff523b;"></i>
                            <i class="fa fa-star-o" style="color: #ff523b;"></i>
                        </div>
                        <img src="images/Review 1.JPG" alt="">
                        <h3>Rana Jahangeer Hmza</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left" ></i>
                
                <p>I love the way your website is done with the flip images and the catwalks. 
                    Makes it wonderful to shop online. Thank you. I'll be back again and again!</p>
                <i class="fa fa-quote-right" ></i>
                    <div class="rating">
                        <i class="fa fa-star" style="color: #ff523b;"></i>
                        <i class="fa fa-star" style="color: #ff523b;"></i>
                        <i class="fa fa-star" style="color: #ff523b;"></i>
                        <i class="fa fa-star" style="color: #ff523b;"></i>
                        <i class="fa fa-star-half-o" style="color: #ff523b;"></i>
                    </div>
                    <img src="images/Review 1.JPG" alt="">
                    <h3>Rana Jahangeer Hmza</h3>
        </div>
        <div class="col-3">
            <i class="fa fa-quote-left" ></i>
            
            <p>I love the clothes from this website!!
                 I am so glad I found them.....everything has been spot on, 
                 fits wonderfully, styles are trendy and lots to choose from!! 
                 Thanks for being here for us!!!</p>
            <i class="fa fa-quote-right" ></i>
                <div class="rating">
                    <i class="fa fa-star" style="color: #ff523b;"></i>
                    <i class="fa fa-star" style="color: #ff523b;"></i>
                    <i class="fa fa-star" style="color: #ff523b;"></i>
                    <i class="fa fa-star-half-o" style="color: #ff523b;"></i>
                    <i class="fa fa-star-o" style="color: #ff523b;"></i>
                </div>
                <img src="images/Review 1.JPG" alt="">
                <h3>Rana Jahangeer Hmza</h3>
    </div>
        </div>
    </div>
</div>

<!--footer-->
 <footer class="border-top footer text-muted">
        <div class="container">
            <h2 class="title" style="color: #ff523b;">Hanan Ali Store</h2>
        <div class="row" >
             <div class="footer-col-3">
                 <h3 style="color:#ff523b ;">Useful Links</h3>
                 <ul>
                     <li>Coupons</li>
                     <li>Blog post</li>
                     <li>Return policy</li>
                     <li>Join Affiliate</li>
                 </ul>
             </div>
             <div class="footer-col-4  ">
                 <h3 style="color:#ff523b ;">Folllow Us</h3>
                 <ul>
                     <li>Facebook</li>
                     <li>Instagram</li>
                     <li>Twitter</li>
                     <li>Youtube</li>
                 </ul>
             </div> 
        </div>
        </div>
    </footer>
</body>
</html>